/************************************************************
 * Hack to expose overflow scrollbars for Javascript access *
 ************************************************************/

 /*
 The content within this file cannot be moved to `tabkit.css`
 Reason is unknown
 */

.tabbrowser-tabs scrollbar {
  -moz-binding: url("chrome://tabkit/content/bindings.xml#scrollbar");

  /*
  In Firefox ESR 38.* (31.* has no such problem)
  Dragging scrollbar on OSX 10.10 drags the whole window instead of moving scrollbar
  So the following style rule is required to disable this behaviour

  This fix is found from
  https://bugzilla.mozilla.org/show_bug.cgi?id=1070038
  */
  -moz-window-dragging: no-drag;
}
